* {
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    gap: 2rem;

}

#red {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 3rem;
    width: 7rem;
    background-color: red;
    border-radius: 2rem;
    width: 7rem;
}

#orange {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 3rem;
    width: 7rem;
    background-color: orange;
    border-radius: 2rem;
    width: 7rem;
}

#blue {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 3rem;
    width: 7rem;
    background-color: blue;
    border-radius: 2rem;
    width: 7rem;
}

#black {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 3rem;
    width: 7rem;
    background-color: black;
    border-radius: 2rem;
    height: 3rem;
    width: 7rem;
}